<div class="row bio">
    <div class="col s4">
        <img src="/assets/headshot.png" alt="hello" class="circle responsive-img">
    </div>
    <div class="col s1"></div>
    <div class="col s7">
        <h1>About Me</h1>
        <h6 class="aboutme">Full stack Web Developer with a certificate in Full Stack Development from the University of California, Berkley; leveraging strong technical skills in Javascript, Node.JS, RESTful APIs, MySQL, React, Git. My technical skills are supplemented by my BA in psychology from University of California, Los Angeles. Creating applications with logical code, and focusing on intuitive design. Passionate about people, working on teams with knowledgeable collaborators, and working towards a meaningful goal. Enjoy learning from my peers and value outside contributions to my work. Excited to continue learning and becoming more efficient by the day.</h6>
    </div>
</div>
