<div class="row bio">
    <div class="col s4">
        <img src="/assets/headshot.png" alt="hello" class="circle responsive-img">
    </div>
    <div class="col s1"></div>
    <div class="col s7">
        <h1 class="aboutme">About Me</h1>
        <h6 >Full stack Web Developer with a BA in psychology from University of California, Los Angeles and a certificate in Full Stack Development from the University of California, Berkeley. My communication skills were honed while mediating sensitive situations in a diverse community at the Housing Authority of San Bernardino and are supplemented by my strong technical skills in Javascript, Node.JS, RESTful APIs, MySQL, React, Git. Creating applications with logical code, and focusing on intuitive design. Enjoy learning from my peers and value outside contributions to my work. Passionate about people, working on teams with knowledgeable collaborators, and working towards a meaningful goal. 
</h6>
    </div>
</div>
