<div class="row">
<div class="col s7">
    <h1 class="title head">Alexis at a glance...</h1>
</div>
</div>
<div class="row">
    <div class="col s4">
        <h3 class="head">Skills</h3>
        <h5>Javascript  </h5>
        <h5>Node JS </h5>
        <h5>APIs    </h5>
        <h5>MySQL   </h5>
        <h5>React JS    </h5>
        <h5>MongoDB </h5>

    </div>
    <div class="col s1"></div>
    <div class="col s7">

        <div id="ftapp">
        <h3 class="head">Featured Application</h3>
        <h4>Election Year</h4>
        <p class="edu">Allows you to search the United States Congress, view their campaign contributors, and create an account.</p>
        <img src="/assets/political.png" alt ="app picture" height="300px" width="400px">
        </div>
        <h3 class="head">Education</h3>
        <ul>
            <li class="edu">University of California, Los Angeles: Bachelor of Arts in Psychology</li>
            <li class="edu">University of California, Berkley: Full Stack Coding Bootcamp</li>
        </ul>

    </div>
</div>