<div class="row">
    <div class="col s4">
        <h1>Skill Scores ?/10</h1>
        <h4>Javascript</h4>
        <h4>Node JS</h4>
        <h4>React JS</h4>
        <h4>MySQL</h4>
        <h4>MongoDB</h4>
        <h4>APIs</h4>

    </div>
    <div class="col s1"></div>
    <div class="col s7">
        <h1>At a glance</h1>
    </div>
</div>