<div class="row">
    <div class="col s4">
        <div class="card" id="project1">
            <div class="card-image">
                <img src="/assets/political.png">
            </div>
            <div class="card-content">
                <h6>Project name</h6>
                <p>Featured project</p>
            </div>
            <div class="card-action">
                <a href="/portfolio/1">Visit Project Page</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card" id="project2">
            <div class="card-image">
                <img src="/assets/fitme.png">
            </div>
            <div class="card-content">
                <h6>Project name</h6>
                <p>Descriptiones</p>
            </div>
            <div class="card-action">
                <a href="/portfolio/2">Visit Project Page</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card" id="project3">
            <div class="card-image">
                <img src="/assets/notetaker.png">
            </div>
            <div class="card-content">
                <h6>Project name</h6>
                <p>Descriptiones</p>
            </div>
            <div class="card-action">
                <a href="/portfolio/3">Visit Project Page</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s4">
        <div class="card" id="project1">
            <div class="card-image">
                <img src="/assets/weatherboard.png">
            </div>
            <div class="card-content">
                <h6>Project name</h6>
                <p>Descriptiones</p>
            </div>
            <div class="card-action">
                <a href="/portfolio/4">Visit Project Page</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card" id="project2">
            <div class="card-image">
                <img src="/assets/teamgenerator.png">
            </div>
            <div class="card-content">
                <h6>Project name</h6>
                <p>Descriptiones</p>
            </div>
            <div class="card-action">
                <a href="/portfolio/5">Visit Project Page</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card" id="project3">
            <div class="card-image">
                <img src="/assets/contentmanagement.png">
            </div>
            <div class="card-content">
                <h6>Project name</h6>
                <p>Descriptiones</p>
            </div>
            <div class="card-action">
                <a href="/portfolio/6">Visit Project Page</a>
            </div>
        </div>
    </div>
</div>