<div class="row">
    <div class="col s4">
     <h1>Quick Facts</h1>
     <h3>Built with:</h3>
     <ul>
         <li> hello its me</li>
     </ul>
    </div>
    <div class="col s8">
        <h1>{{name}}</h1>
        <img src="/assets/headshot.png" alt="hello" class="responsive-img">

    </div>
</div>
