.container{
    margin: 50px auto;
    padding: 10px;
    background-color: #FCFCFC;
    
}
.head{
    border-bottom: solid grey 1px;
    
}
nav{
    padding: 0 20px 0 20px;
    background-color: #B81D38;
}
#choice{
    font-size: 20px;
}
body{
    background-image: url("background.png");
}
.edu{
    font-size:22px;
}
.detail{
    font-size: 20px;
}
.title{
    text-align: left;

}
.aboutme{
    border-bottom: solid grey 1px;
    width: fit-content;
}
@media only screen and (max-width: 600px) {
    .col {
      display: block;
    }
  }
  .bio{
      padding: 70px 10px 0px 10px;
  }
  .aboutme{
      font-size: 25px;
  }
  .tech{
    font-size: 17px;
}
ul{
    font-size: 20px;
}